/*GENERAL*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:black;
}

.img{
  width: 70%;
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 15px;
}

.container{
  width: 80%;
  max-width: 1200px;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px auto;
}

img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.card{
  border: 1px solid black;
  width: 350px;
  height: 350px;
  margin: 15px;
}

.name, .media{
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}

